html,
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.animated-image-main {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.first-slide-inner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.first-slide-image-wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    top: 0;
    width: 16.8%;
    height: 100vh;
}

.first-slide-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-slide-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
}

.first-slide {
    left: calc(50% - 16.667%);
}

.sixth-slide {
    right: calc(50% - 16.667%);
    z-index: 9;
}

.fourth-slide {
    left: 50%;
    z-index: -1;
}

.animate-slides .first-slide {
    left: 0;
}

.animate-slides .second-slide {
    left: 320px;
    right: auto;
}

.animate-slides .third-slide {
    left: 640px;
}

.animate-slides .fourth-slide {
    left: calc(100% - 960px);
}

.animate-slides .fifth-slide {
    left: calc(100% - 640px);
}

.animate-slides .sixth-slide {
    left: calc(100% - 320px);
}

.second-slide-animation {
    opacity: 0;
}

.first-slide-animation {
    opacity: 1;
}

.second-slide-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transform: translateY(0);
}

.show-second .first-slide-animation {
    opacity: 0;
}

.show-second .second-slide-animation {
    opacity: 1;
}

.move-up .second-slide-animation {
    transform: translateY(-380px);
}

.third-slide-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); /* start fully hidden */
    will-change: transform;
}
/* .animated-image-inner.move-up .third-slide-animation {
    transform: translate(0px, 0px);
} */

.third-slide-image-wrapper {
    display: flex;
}

.third-slide-image-wrapper img {
    width: 100%;
    object-fit: cover;
}

.second-slide-image-wrapper {
    display: flex;
}

.second-slide-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.animated-image-inner,
.second-slide-animation,
.second-slide-inner,
.second-slide-image-wrapper {
    height: 100%;
}

.third-slide-inner {
    height: auto;
}

.third-slide-image-wrapper {
    height: 100%;
}

@media screen and (max-width: 1440px) {
    .animate-slides .second-slide {
        left: 16.667%;
    }

    .animate-slides .third-slide {
        left: 33.333%;
    }

    .animate-slides .fourth-slide {
        left: 50%;
    }

    .animate-slides .fifth-slide {
        left: 66.667%;
    }

    .animate-slides .sixth-slide {
        left: 83.333%;
    }

    .first-slide-image-wrapper {
        width: 16.8%;
    }

    .first-slide-inner img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1299px) {
    .third-slide-animation {
        min-height: 300px;
    }

    .move-up .second-slide-animation {
        transform: translateY(-220px);
    }
}